*{
    font-family: 'Zen Kurenaido', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: green;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background-color: green;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: lightcoral;
}
.header{
    padding: 2rem 9%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2.5rem;
    color: green;
    font-weight: bolder;
}
i{
    padding-right: .3rem;
}
.search-form{
    height: 5rem;
    width: 50rem;
    border-radius: 5rem;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid green;
}
.search-form input{
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: green;
    text-transform: none;
}
label{
    font-size: 2.2rem;
    padding-right: 1.7rem;
    cursor: pointer;
    color: green;
}
label:hover{
    color: lightcoral;
}
.icons div{
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: green;
}
.icons div:hover{
    color: lightcoral;
}
#search-btn{
    display: none;
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
        opacity: 0;
    }
}
#closer{
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    font-size: 5rem;
    cursor: pointer;
    z-index: 10000;
    color: green;
    animation: rotate .4s linear .4s backwards;
    display: none;
}
#closer:hover{
    color: lightcoral;
}
.navbar{
    position: fixed;
    top: 0;
    right: -101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.navbar.active{
    right: 0;
    box-shadow: 0 0 5px blueviolet;
    transition: .4s linear;
}
.navbar a{
    margin: 1rem 0;
    font-size: 2.5rem;
    color: green;
}
.navbar a:hover{
    color: lightcoral;
}
.shopping-cart{
    position: fixed;
    top: 0;
    right:-101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    background: white;
    padding: 2rem;
    padding-top: 8rem;
    overflow-y: scroll;
}
.shopping-cart.active{
    right: 0;
    box-shadow: 0 0 5px blueviolet;
    transition: .4s linear;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: green;
}
.box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
}
.fa-solid fa-xmark{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: green;
    cursor: pointer;
}
.fa-solid fa-xmark:hover{
    color: lightcoral;
}
img{
    height: 8rem;
}
.content h3{
    color: green;
    font-size: 1.8rem;
    padding-bottom: .5rem;
}
.content span{
    font-size: 1.5rem;
    color: green;
}
.content span .multiply{
    margin: 0 1rem;
}
.total{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: green;
}
.total span{
    color: green;
}
.btn{
    width: 100%;
    text-align: center;
}
.login-form{
    position: fixed;
    top: 0;
    right:-101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    background: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form.active{
    right: 0;
    box-shadow: 0 0 5px blueviolet;
    transition: .4s linear;
}
form{
    padding: 1.7rem;
    border: 1px solid green;
}
h3{
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: green;
}
.box{
    width: 100%;
    text-transform: none;
    font-size: 1.5rem;
    color: green;
    padding: 1rem 1.2rem;
    margin: .7rem 0;
    border: 1px solid black;
}
.remember{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.remember input{
    /* height: 100%; */
    /* width: 100%; */
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: green;
    text-transform: none;
}
label{
    cursor: pointer;
    font-size: 1.5rem;
    color:green;
    padding: 1rem 0;
}
.btn{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
p{
    padding-top: 1rem;
    font-size: 1.4rem;
    color: green;
}
a{
    color: green;
}
a:hover{
    color: lightcoral;
}















@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:2rem;
    }
}
@media (max-width:768px){
    #search-btn{
        display: inline-block;
    }
    .header .search-form{
        position: absolute;
        top: -101%;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
    .header .search-form.active{
        top: 99%;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}