*{
    font-family: 'Zen Kurenaido', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
    padding: 3rem 9%;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: #C84B31;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color:#D82148;
}
.header{
    padding: 2rem 9%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: #151D3B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    font-size: 2.5rem;
    color: white;
    font-weight: bolder;
}
.header .logo i{
    padding-right: .3rem;
}
.header .search-form{
    height: 5rem;
    width: 50rem;
    border-radius: 5rem;
    background:white;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.search-form input{
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: green;
    text-transform: none;
}
label{
    font-size: 2.2rem;
    padding-right: 1.7rem;
    cursor: pointer;
    color:gray;
}
label:hover{
    color: #D82148;
}
.icons div{
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
}
.icons div:hover{
    color: #D82148;
}
#search-btn{
    display: none;
}
/* closer section */
@keyframes rotate{
    0%{
        transform: rotate(360deg);
        opacity: 0;
    }
}
#closer{
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    font-size: 5rem;
    cursor: pointer;
    z-index: 10000;
    color:white;
    animation: rotate .4s linear .4s backwards;
    display: none;
}
#closer:hover{
    color: #D82148;
}
/* menu section */
.navbar{
    position: fixed;
    top: 0;
    right: -101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    /* background: white; */
    background: #151D3B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.navbar.active{
    right: 0;
    box-shadow: 0 0 10px gray;
    transition: .4s linear;
}
.navbar a{
    margin: 1rem 0;
    font-size: 2.5rem;
    color: white;
}
.navbar a:hover{
    /* color: lightcoral; */
    color: #D82148;
}
/* shopping cart section */
.shopping-cart{
    position: fixed;
    top: 0;
    right:-101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    /* background: white; */
    background: #151D3B;
    padding: 2rem;
    padding-top: 8rem;
    overflow-y: scroll;
}
.shopping-cart.active{
    right: 0;
    box-shadow: 0 0 10px gray;
    transition: .4s linear;
}
.shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    color: white;
}
.shopping-cart .box .fa-solid fa-xmark{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.shopping-cart .box .fa-solid fa-xmark:hover{
    /* color: lightcoral; */
    color: #D82148;
}
.shopping-cart .box img{
    height: 8rem;
}
.shopping-cart .box .content h3{
    color: white;
    font-size: 1.8rem;
    padding-bottom: .5rem;
}
.shopping-cart .box .content span{
    font-size: 1.5rem;
    color: gray;
}
.shopping-cart .box .content span .multiply{
    margin: 0 1rem;
}
.shopping-cart .total{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color:white;
}
.shopping-cart .total span{
    color: gray;
}
.shopping-cart .btn{
    width: 100%;
    text-align: center;
}
/* login form */
.login-form{
    position: fixed;
    top: 0;
    right:-101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    background:#151D3B;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form.active{
    right: 0;
    box-shadow: 0 0 10px gray;
    transition: .4s linear;
}
.login-form form{
    padding: 1.7rem;
    border: 1px solid white;
}
.login-form form h3{
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: white;
}
.login-form form input{
    border: 1px solid gray;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.login-form form input .box{
    width: 100%;
    text-transform: none;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 1.2rem;
    margin: .7rem 0;
    border: 1px solid black;
}
.login-form form .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.login-form form .remember input{
    /* height: 100%; */
    /* width: 100%; */
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: green;
    text-transform: none;
}
.login-form form.remember label{
    cursor: pointer;
    font-size: 1.5rem;
    color:green;
    padding: 1rem 0;
}
.login-form form input .btn{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
.login-form form p{
    padding-top: 1rem;
    font-size: 1.4rem;
    color:white;
}
.login-form form p a{
    color: green;
}
.login-form form p a:hover{
    color: lightcoral;
}
/*home section */
@keyframes fadeout{
    0%{
        transform: scale(.5);
        opacity: 0;
    }
}
@keyframes fadeleft{
    0%{
        transform: translateX(-5rem);
        opacity: 0;
    }
}
.home{
    position: relative;
}
.home .slides-container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
}
.home .slides-container .slide.active{
    display: flex;   
}
.home .slides-container .slide .content{
    flex: 1 1 40rem;
    animation: fadeleft .4s linear .4s backwards;
}
.home .slides-container .slide .content span{
    font-size: 2.5rem;
    color: green;
}
.home .slides-container .slide .content h3{
    font-size:6rem;
    color: green;
    padding-top: .5rem;
}
.home .slides-container .slide .content p{
    font-size:1.5rem;
    color: green;
    padding:.5rem 0;
    line-height: 2;
}
.home .slides-container .slide .image{
    flex: 1 1 40rem;
    padding: 3rem 0;
}
.home .slides-container .slide .image img{
    width: 100%;
    /* height: 500px; */
    animation: fadeout .4s linear;
}
.home #slide-next,#slide-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    box-shadow: 0 0 5px blue;
    border: 2px solid black;
    text-align: center;
    background: white;
    cursor: pointer;
}
.home #slide-next,#slide-prev:hover{
    background: green;
    color: white;
}
.home #slide-next{
    right: 2rem;
}
.home #slide-prev{
    left: 2rem;
}
/* banner section */
.banner-container{
    grid: 30rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner-container .banner{
    height: 25rem;
    overflow: hidden;
    position: relative;
    background: gray;
}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-container .banner .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
}
.banner-container .banner .content span{
    font-size: 1.7rem;
    color: blue;
}
.banner-container .banner .content h3{
    font-size: 2.2rem;
    padding-top: .5rem;
    color: red;
}

/* footer section */
.footer{
    background: lightgray;
}
.footer .box-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: green;
    padding: 1rem 0;
}
.footer .box-container .box p{
    font-size: 1.6rem;
    color: green;
    padding-bottom: 1rem;
}
.footer .box-container .box a{
    font-size: 1.4rem;
    color: green;
    padding: 1rem 0;
    display: block;
}
.footer .box-container .box a:hover{
    color: lightcoral;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: green;
}
.footer .box-container .box a i:hover{
    padding-right: 2rem;
}
.footer .box-container .box form input{
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: white;
    text-transform: none;
    margin: .7rem 0;
}
.credit{
    text-align: center;
    font-size: 2rem;
    /* color:green; */
    color: white;
    /* background: lightgray; */
    background: #151D3B;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:2rem;
    }
    section{
        padding: 3rem 2rem;
    }
    .home #slide-next,#slide-prev{
        top: 95%;
    }
    .home #slide-prev{
        left: auto;
        right: 8rem;
    }   
}
@media (max-width:768px){
    #search-btn{
        display: inline-block;
    }
    .header .search-form{
        position: absolute;
        top: -101%;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
    .header .search-form.active{
        top: 99%;
    }
    /* .banner-container{
        display: block;
    } */
    .banner-container .banner{
        margin: 2rem;
        width: 50%;
    }
    .footer .box-container{
        display: inline-block;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .home .slides-container .slide .content h3{
        font-size: 4rem;
    }
    .banner-container{
        display: block;
    }
    .banner-container .banner{
        margin: 1rem;
        width: 100%;
    }
}